/*colors*/
$example: #eff5f8;
/*media*/
$mobile-only: '(max-width: 568px)';
$mobile-tablet-small: '(max-width: 767px)';
$mobile-tablet: '(max-width: 1279px)';
$tablet-small: '(min-width: 569px)';
$tablet: '(min-width: 768px)';
$desktop-small: '(min-width: 960px)';
$desktop: '(min-width: 1280px)';
$desktop-desktop-large: '(min-width: 1280px) and (max-width: 1389px)';
$desktop-large: '(min-width: 1390px)';